<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>oni-chan version 3</title>
</head>
<body>
    <something>
        <h1>Memory</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.text.label }}<br>
                {{ form.text(size=40) }}<br>
                {{ form.remember() }}
                {{ form.ask() }}
                {{ form.code() }}
                {{ form.forget() }}
            </p>
        </form>
        <Tyan>
            <label>
                <textarea cols=40, rows=4, readonly>{{ ans }}</textarea>
            </label>
        </Tyan>
        <h1>Parameters</h1>
        <form action="" method="post" novalidate>
            {{ params.hidden_tag() }}
            <p>
                ___{{ i }}___ -> ___{{ o }}___ <br>
                {{ params.inp(size=1) }}
                ->
                {{ params.out(size=1) }} <br>

                {{ params.submit() }}
            </p>
        </form>
    </something>

</body>
</html>
